{% extends 'base.html.twig' %}

{% block title %}Chatroom index{% endblock %}

{% block body %}
    <h1>Chatroom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chatroom in chatrooms %}
            <tr>
                <td>{{ chatroom.id }}</td>
                <td>{{ chatroom.name }}</td>
                <td>
                    <a href="{{ path('app_chatroom_show', {'id': chatroom.id}) }}">show</a>
                    <a href="{{ path('app_chatroom_edit', {'id': chatroom.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chatroom_new') }}">Create new</a>
{% endblock %}
